body {
  background-color: black;
  color: white;
  font-family: Roboto Slab;
  margin: 0px;
}

a:link, a:visited {
  color:navy;
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 80vw;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-template-areas: "header header header"
                       "p1Img attack p2Img"
                       "p1Card buttons p2Card"
                       "log log log"
                       "footer footer footer";
  grid-template-rows: 100px 1fr 1fr 1fr 50px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw 2vh;
  font-size: 4vh;
}

h1 {
  font-size: 60px;
}

#p1-card {
  grid-area: p1Card;
  border: 1px solid white;
  padding: 2vh;
}

#p2-card {
  grid-area: p2Card;
  border: 1px solid white;
  padding: 2vh;
}

header {
  grid-area: header;
}

#current-attack {
  grid-area: attack;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p1-image {
  grid-area: p1Img;
  background: url('images/hero_wizard_transparent.png') center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#p2-image {
  grid-area: p2Img;
  background: url('images/hero_paladin_transparent.png') center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#input-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#combat-log {
  grid-area: log;
  border: 1px solid white;
  font-size: 1.5vh;
  overflow-y:auto;
}

footer {
  grid-area: footer;
  font-size: 20px;
  border: 1px solid white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.if {
  width: 100%;
  height: 20%;
  background-color: dimgray;
  color: white;
  font-size: 3vh;
  font-family: Roboto Slab;
}

.if:hover {
  border: 4px solid white;
}

.if:disabled {
  color: silver;
  text-decoration: line-through;
}

#modal {
  font-family: Roboto Slab;
  font-size: 2vh;
  display: none;
  position: fixed;
  left: 20vw;
  right: 20vw;
  top: 10vh;
  bottom: 20vh;
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  z-index: 1;
  border: 5px solid dimgray;
}

#modal-backdrop {
  display: none;
  background-color: black;
  opacity: .7;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#modal-content {
  font-size: 2vh;
  width:fit-content;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

#modal-content h1 {
  margin-bottom: 1vh;
}

#p1-name-select, #p2-name-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#start {
  font-family: Roboto Slab;
  font-size: 5vh;
  background-color: white;
  border: 3px solid gray;
}

#start img {
  width: 5vh;
  height: 5vh;
  margin-right: 2vh;
  margin-left: 2vh;
}

input {
  background-color: silver;
  font-size: 1.5vh;
}