body {
  background-color: black;
  color: lemonchiffon;
  font-family: Roboto Slab;
  margin: 0px;
}

a:link, a:visited {
  color:sienna;
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 80vw;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-template-areas: "header header header"
                       "p1Img attack p2Img"
                       "p1Card buttons p2Card"
                       "log log log"
                       "footer footer footer";
  grid-template-rows: 100px 1fr 1fr 1fr 50px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw 2vh;
  font-size: 4vh;
}

h1 {
  font-size: 60px;
  color:firebrick;
}

#p1-card {
  grid-area: p1Card;
  border: 1px solid lemonchiffon;
  padding: 2vh;
}

#p2-card {
  grid-area: p2Card;
  border: 1px solid lemonchiffon;
  padding: 2vh;
}

header {
  grid-area: header;
}

#current-attack {
  grid-area: attack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3vh;
}

#p1-image {
  grid-area: p1Img;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#p2-image {
  grid-area: p2Img;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#input-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#combat-log {
  grid-area: log;
  border: 1px solid lemonchiffon;
  font-size: 1.5vh;
  overflow-y:auto;
}

#combat-log ul {
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  padding: 0;
  margin-left: 1vw;
  line-height: 1.5;
}

footer {
  grid-area: footer;
  font-size: 20px;
  border: 1px solid lemonchiffon;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

h2 {
  color: firebrick;
}

.if {
  width: 100%;
  height: 20%;
  background-color: sienna;
  color: white;
  font-size: 3vh;
  font-family: Roboto Slab;
}

.if:hover {
  border: 4px solid white;
}

.if:disabled {
  color: silver;
  text-decoration: line-through;
}

#modal {
  font-family: Roboto Slab;
  height: 100vh;
  font-size: 2vh;
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: black;
  color:bisque;
  z-index: 1;
}

#modal-backdrop {
  display: none;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#modal-content {
  font-size: 2vh;
  height: 80%;
  width:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#p1-name-select, #p2-name-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#p1-name-select input, #p2-name-select input {
  padding: 0
}

#start {
  font-family: Roboto Slab;
  font-size: 5vh;
  background-color: lemonchiffon;
  border: 3px solid firebrick;
  padding: 1vh;
  color: black;
}

#start img {
  width: 5vh;
  height: 5vh;
  margin-right: 2vh;
  margin-left: 2vh;
}

input {
  background-color: lemonchiffon;
  font-size: 1.5vh;
}

#p1, #p2, #game-mode-select {
  border: 2px solid lemonchiffon;
  padding: 2vh;
}

.start-radio {
  display: none;
}

label {
  background-color: white;
  color: black;
  padding-left: 0.2vw;
  padding-right: 0.2vw
}

.radio-button input[type="radio"]:checked+label {
  background-color:lemonchiffon
}

#p1-class-select, #p2-class-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

#modal-content h1 {
  margin: 0;
}

#game-mode-buttons {
  margin-top: 2vh;
  background-color: white;
  width:fit-content;
  padding: 0.5vh;
}

#replay {
  color: white;
  background-color: sienna;
  padding: 0 0.5vw;
  margin-top: 1vh;
}

#replay:hover {
  border: 4px solid white;
}

#credits {
  margin: auto;
  width: 80%;
  height: 90vh;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#credits img {
  width: 15vh;
  height: 15vh;
}

#back {
  font-size: 5vh;
  display: flex;
  align-items:center;
  width: fit-content;
  height: fit-content;
  column-gap: 2vw;
}

#portraits {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  #combat-log {
    display: none;
  }
  main {
    font-size: 3vh;
    width: 95vw;
    height: 90vh;
    display: grid;
    grid-template-areas: "header header header"
                         "p1Img . p2Img"
                         "attack attack attack"
                         "buttons buttons buttons"
                         "p1Card . p2Card"
                         "footer footer footer";
    grid-template-rows: 7vh 1fr 1fr 4vh 1fr 3vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw 1vh;
  }
  #p1-card, #p2-card {
    border: none;
    padding: none;
  }
  .if {
    font-size: 2vh;
    height: fit-content;
    width: fit-content;
  }
  h1 {
    font-size: 5vh;
  }
  #input-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer {
    font-size: 2vh;
    padding: none;
    border: none;
  }
  #start {
    font-size: 4vh;
  }

  #current-attack {
    grid-area: attack;
    display:block;
    font-size: 3vh;
  }

}